<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    ADMIN LOGIN:
    <form action="/admin" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="pw" placeholder="password">
      <button type="submit">Login</button>

    </form>


  </body>
</html>
