<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <!-- <img class="logo" src="public/logo.png"></img> -->

  <div class="main" style="background:#005F97">
    <div class="top-nav" style="background:none"></div>

    <div class="login-container">
      <input class="code-input" type="text" name="conf_code" value="" placeholder="# CODE"><BR><BR>
      <input class= "enter-btn" type="submit" name="button" value='Check-In'><BR><BR><BR><BR>
      <a class="cancel" href="/kiosk">Cancel</a>

    </div>


  </div>
</body>
