<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parent Welcome</title>
  </head>
  <body>

    <div>
      <h1>WELCOME: <%= parent.parent_firstName %> <%= parent.parent_lastName %></h1>
    </div>

    <script type="text/javascript">
      setTimeout(()=>{
        window.location.href = '/kiosk'
      },5000)
    </script>
  </body>
</html>
