<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    CHECK IN FOR  KIOSIK
    <br>
    <br>

    <a href="/kiosk/pa"><button type="button">PA Check-In</button></a>

    <br>
    <hr>

    <a href="/kiosk/parent"><button type="button">Parent Check-In</button></a>
  </body>
</html>
