<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <!-- <img class="logo" src="public/logo.png"></img> -->

  <div class="main" style="background:#005F97">
    <div class="top-nav" style="background:none"></div>

    <div class="login-container">
      <form action="/kiosk/pa" method="post">
        <input class="code-input" type="text" name="code" value="" placeholder="# CODE"><BR><BR>
        <input class= "enter-btn" type="submit" name="button" value='Check-In'><BR><BR><BR><BR>
      </form>
      <% if(err){ %>
        <h4 class='error'> <%= err %></h4>
      <%}%>

      <a class="cancel" href="/kiosk">Back</a>

    </div>


  </div>
</body>
