<!DOCTYPE html>
<html>
<body>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>

  <div class="main">
    <img class="logo" src="logo.png"></img>
    <div class="top-nav"></div>
    <div class="login-container">
      <a href="/kiosk/pa"><button class="custom-button">PARENT AID</button></a>
      <a href="/kiosk/parent" ><button class="custom-button">PARENT</button></a>
    </div>

  </div>
</body>
