<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parent Welcome</title>
  </head>
  <body>

    <div>
      <h2>Welome, <%= schedule.parent_firstName %> <%= schedule.parent_lastName %></h2>
    </div>

    <script type="text/javascript">
      setTimeout(()=>{
        window.location.href = '/kiosk'
      },5000)
    </script>
  </body>
</html>
