<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    PARENT AID LOGIN
    <h5 style='color:red'>ERR: <%= err %></h5>
    <form action="/pa/login" method="post">
      <input type="email" name="email" value="" placeholder="Email">
      <input type="password" name="password" value="" placeholder="Enter Password Here">
      <input type="submit" name="submit" value="LOGIN">
    </form>
    <a href="/pa/signup">Havent Signed Up Yet? Click Here</a>
  </body>
</html>
