<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    PARENT AID SIGNUP
    <form class="" action="/pa/signup" method="post">
      <input type="text" name="first_name" value="" placeholder="First Name"><br>
      <input type="text" name="middle_initial" value="" placeholder="Middle Initial"><br>
      <input type="text" name="last_name" value="" placeholder="Last Name"><br>
      <input type="text" name="phone_number" value="" placeholder="Phone Number"><br>
      <input type="text" name="agency_name" value="" placeholder="Agency Name"><br>
      <input type="text" name="email" value="" placeholder="Email Address"><br>
      <input type="password" name="pw" value="" placeholder="Password"><br>
      <input type="submit" name="submit" value="SIGNUP">
    </form>
    <a href="/">Already a User? Login</a>
  </body>
</html>
