<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    SCHEDULE
    <form class="" action="/pa/schedule" method="post">
      <input type="text" name="parent_name" value="" placeholder="Parent Name">
      <input type="text" name="number_of_children" value="" placeholder="Number Of Children">
      <input type="text" name="app_date" value="" placeholder="Appt Date">
      <input type="submit" />
    </form>
    <a href="/pa/logout">LOGOUT</a>
  </body>
</html>
