<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Volunteer</title>
  </head>
  <body>
    VOLUNTEER LOGIN!
    <form action="index.html" method="post">
      <input type="email" name="email" placeholder="example@mail.com">
      <input type="password" name="password" placeholder="**********">
      <button type="submit" >Login</button>
    </form>
  </body>
</html>
