<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    VOLUNTEER INPUT FOR PARENTS AID!
    <form action="/volunteer/auth/invite" method="POST">
      <input name="pa_email" placeholder="Enter P.A EMAIL"></input>
    </form>
  </body>
</html>
