<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="./main.css">
    <script src="https://use.fontawesome.com/44d41c7531.js"></script>
  </head>
  <body>
    <div class='main admin-container'>
      <!-- <img class="logo" src="../logo.png"></img> -->
      <div class="top-nav">
        <!-- <div class="item"><a href="/admin/auth/metrics">METRICS</a></div> -->
        <div class="item"><a href="admin_homepage.html">HOME</a></div>
        <div class="item"><a href="admin_edit_pa.html">METRICS</a></div>
        <div></div>
        <div class="item" style="text-align: right; margin-right: 15px"><a href="/pa/logout">LOGOUT</a></div>
      </div>

      <div class="content">
        <h3>Create Schedule</h3>
        <form action="/pa/auth/schedule" method="post">
          <input type="text" name="parent_name" value="" placeholder="Parent Name"><br>
          <input type="text" name="number_of_children" value="" placeholder="Number Of Children"><br>
          <input type="text" name="app_date" value="" placeholder="Appt Date"><br>
          <input type="submit" />
        </form>
      </div>
      <div class="content">
        <h3>Scheduled Visits</h3>
        <% for(i=0; i  <  schedules.length;i++) { %>
          <li>
            DATE: <%= schedules[i].appt_date  %><br>
            PARENT NAME:<%= schedules[i].parent_name  %><br>
            Number of Children: <%= schedules[i].number_of_children  %>
          </li>
          <%} %>
      </div>


      <div class="footer">
      </div>
    </div>
  </body>
</html>
